$white: #FDFDFD;
$pink: #FAB1C9;
$blue: #00A2E4;
$gray: #2B2D30;

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}

a:link, a:visited {
    text-decoration: none;
    color: $white;
}

div.container {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr;

    width: 100%;
    height: 100vh;
    overflow: hidden;

    div.aside {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;

        background-color: $gray;
        width: 100%;
        height: 100%;


        div {
            animation-name: anim-line-left;
            animation-duration: 7s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;


            @keyframes anim-line-left {
                0% {
                    background-color: $gray;
                }

                50% {
                    background-color: $pink;
                }

                100% {
                    background-color: $gray;
                }
            }
        }

        div:first-child {
            animation-delay: 1s;
        }

        div:nth-child(even) {
            animation-name: middle-anim-line-left;
            animation-duration: 7s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-delay: 500ms;

            @keyframes middle-anim-line-left {
                0% {
                    background-color: $gray;
                }

                50% {
                    background-color: $blue;
                }

                100% {
                    background-color: $gray;
                }
            }
        }


    }

    div.aside-2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;

        background-color: $gray;
        width: 100%;
        height: 100%;

        div {
            animation-name: anim-line-right;
            animation-duration: 7s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;

            @keyframes anim-line-right {
                0% {
                    background-color: $gray;
                }

                50% {
                    background-color: $pink;
                }

                100% {
                    background-color: $gray;
                }
            }
        }

        div:last-child {
            animation-delay: 1s;
        }

        div:nth-child(even) {
            animation-name: middle-anim-line-right;
            animation-duration: 7s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-delay: 500ms;

            @keyframes middle-anim-line-right {
                0% {
                    background-color: $gray;
                }

                50% {
                    background-color: $blue;
                }

                100% {
                    background-color: $gray;
                }
            }
        }
    }

    div.main {
        pointer-events: none;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;

        background-image: url("images/socks.jpeg");
        background-size: cover;

        transition: 3s;

        .link {
            pointer-events: auto;
            opacity: 0.97;
            div {
                display: grid;
                width: 45vh;
                height: 5vh;
                background-color: $gray;
                font-size: 1.5em;
                font-weight: bold;

                a {
                    margin: auto;
                }

                a:hover {
                    text-decoration: underline;
                }
            }

            .top {
                border-top-left-radius: 5vh;
                border-top-right-radius: 5vh;
            }

            .bottom {
                border-bottom-left-radius: 5vh;
                border-bottom-right-radius: 5vh;
            }
        }

        .link:hover {
            opacity: 1;
            .top {
                animation-name: top-link;
                animation-duration: 1.2s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;

                @keyframes top-link {
                    0% {
                        background-color: $gray;
                    }
                    100% {
                        width: 45vh;
                        margin: 1.5vh 0;
                        background-color: $blue;

                    }
                }
            }

            .center {
                animation-name: center-link;
                animation-duration: 1.2s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;

                @keyframes center-link {
                    0% {
                        background-color: $gray;
                    }
                    100% {
                        background-color: $pink;
                        width: 70vh;
                    }
                }
            }

            .bottom {
                animation-name: bottom-link;
                animation-duration: 1.2s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;

                @keyframes bottom-link {
                    0% {
                        background-color: $gray;
                    }
                    100% {
                        width: 45vh;
                        margin: 1.5vh 0;
                        transform: translateX(55.5%);
                        background-color: $blue;
                    }
                }
            }
        }
    }
    div.main:hover {
        box-shadow: inset 0 0 5em 1em #000;
    }
}







