* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins';
  box-sizing: border-box; }

a:link, a:visited {
  text-decoration: none;
  color: #FDFDFD; }

div.container {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: 100vh;
  overflow: hidden; }
  div.container div.aside {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: #2B2D30;
    width: 100%;
    height: 100%; }
    div.container div.aside div {
      animation-name: anim-line-left;
      animation-duration: 7s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite; }
@keyframes anim-line-left {
  0% {
    background-color: #2B2D30; }
  50% {
    background-color: #FAB1C9; }
  100% {
    background-color: #2B2D30; } }
    div.container div.aside div:first-child {
      animation-delay: 1s; }
    div.container div.aside div:nth-child(even) {
      animation-name: middle-anim-line-left;
      animation-duration: 7s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-delay: 500ms; }
@keyframes middle-anim-line-left {
  0% {
    background-color: #2B2D30; }
  50% {
    background-color: #00A2E4; }
  100% {
    background-color: #2B2D30; } }
  div.container div.aside-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: #2B2D30;
    width: 100%;
    height: 100%; }
    div.container div.aside-2 div {
      animation-name: anim-line-right;
      animation-duration: 7s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite; }
@keyframes anim-line-right {
  0% {
    background-color: #2B2D30; }
  50% {
    background-color: #FAB1C9; }
  100% {
    background-color: #2B2D30; } }
    div.container div.aside-2 div:last-child {
      animation-delay: 1s; }
    div.container div.aside-2 div:nth-child(even) {
      animation-name: middle-anim-line-right;
      animation-duration: 7s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-delay: 500ms; }
@keyframes middle-anim-line-right {
  0% {
    background-color: #2B2D30; }
  50% {
    background-color: #00A2E4; }
  100% {
    background-color: #2B2D30; } }
  div.container div.main {
    pointer-events: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    background-image: url("images/socks.jpeg");
    background-size: cover;
    transition: 3s; }
    div.container div.main .link {
      pointer-events: auto;
      opacity: 0.97; }
      div.container div.main .link div {
        display: grid;
        width: 45vh;
        height: 5vh;
        background-color: #2B2D30;
        font-size: 1.5em;
        font-weight: bold; }
        div.container div.main .link div a {
          margin: auto; }
        div.container div.main .link div a:hover {
          text-decoration: underline; }
      div.container div.main .link .top {
        border-top-left-radius: 5vh;
        border-top-right-radius: 5vh; }
      div.container div.main .link .bottom {
        border-bottom-left-radius: 5vh;
        border-bottom-right-radius: 5vh; }
    div.container div.main .link:hover {
      opacity: 1; }
      div.container div.main .link:hover .top {
        animation-name: top-link;
        animation-duration: 1.2s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;
        animation-fill-mode: forwards; }
@keyframes top-link {
  0% {
    background-color: #2B2D30; }
  100% {
    width: 45vh;
    margin: 1.5vh 0;
    background-color: #00A2E4; } }
      div.container div.main .link:hover .center {
        animation-name: center-link;
        animation-duration: 1.2s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;
        animation-fill-mode: forwards; }
@keyframes center-link {
  0% {
    background-color: #2B2D30; }
  100% {
    background-color: #FAB1C9;
    width: 70vh; } }
      div.container div.main .link:hover .bottom {
        animation-name: bottom-link;
        animation-duration: 1.2s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;
        animation-fill-mode: forwards; }
@keyframes bottom-link {
  0% {
    background-color: #2B2D30; }
  100% {
    width: 45vh;
    margin: 1.5vh 0;
    transform: translateX(55.5%);
    background-color: #00A2E4; } }
  div.container div.main:hover {
    box-shadow: inset 0 0 5em 1em #000; }

/*# sourceMappingURL=style.css.map */
